<html>
<head>
  <title>Welcome to Room Allocation</title>
  <style>
    body {
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
      .file-button{
        height: 40px;
      }
  </style>
</head>
<body>
<div class="container">
  <h1>Import your file here</h1>
  <%= form_tag({:action => :import}, multipart: true) do %>

    <div class="file-button"><%= file_field_tag :file %><br/></div>
    <div class="sub-btn"><%= submit_tag( "Import" ) %></div>

  <% end %>
  <div>
    <ul>
      <li>Make sure excel file has only 1 sheet</li>
      <li>Upload file in proper format</li>
      <li>Format of columns: NO, NAME, GEN, AGE, CELL, EMAIL, CENTER</li>
      <li>Only Include those rows which are going to get accomodation</li>
    </ul>
  </div>
</div>
</body>
</html>
